body
  font-size 1.2rem

.inline-block-middle
  display inline-block
  vertical-align middle

.infographic
  width 1000px
  text-align center
  border 1px solid #ccc
  border-radius 4px
  font-size 1.2rem
  .content
    font-family 'thai_sans_literegular', 'lucida grande',verdana,arial,sans-serif

  hr
    width 100%
    margin 0px

  .vis-icon
  .vis-facebook
  .vis-twitter
    @extends .inline-block-middle
    margin 5px

  .metadata
    @extends .inline-block-middle
    text-align left
  h2
    font-size 1.8rem
  .social
    @extends .inline-block-middle
    width 100px
    text-align left
    margin-top 10px

  h3
    font-size 2.8rem
    margin-bottom 15px
  .desc
    font-size 1.2rem
    color black
  #counter
    font-size 5.6rem
    color #9e9a3a
    margin 10px
    line-height 5rem
  .counter-unit
    font-size 2.8rem
    color black
  .remark
    padding 20px
    text-align left
    a
      font-weight normal

  #vis
    max-width 100%
    width 800px
    height 600px
    overflow-x auto
    margin-top 10px


  // ===============================
  // Visualization
  // ===============================

  .bar
    fill #9e9a3a

  .axis path,
  .axis line
    fill none
    shape-rendering crispEdges
    stroke #ddd

  .avg line
    fill none
    shape-rendering crispEdges
    stroke #ff3300
    stroke-dasharray 10,4

  .coup-by
    font-size 1.1rem
  .coup-to
    font-size 1.1rem

  #counter_avg
  #counter_max
  #counter_min
    color #9e9a3a
    // font-weight bold

  .legend text
    fill #666


//Tool tip
.d3-tip
  line-height 1

  padding 12px
  background rgba(100, 100, 100, 0.9)
  color white
  border-radius 2px

.d3-tip:after // Creates a small triangle extender for the tooltip
  box-sizing border-box
  display inline
  font-size 10px
  width 100%
  line-height 1
  color rgba(100, 100, 100, 0.9)
  content "\25BC"
  position absolute
  text-align center

.d3-tip.n:after //Style northward tooltips differently
  margin -1px 0 0 0
  top 100%
  left 0
