
@import "common/webfont"
@import "common/mixin"
@import "common/normalize"

// ===============================
// Base
// ===============================

spriteImg = '../images/sprite.png'

html
  font-size 62.5%
  min-height 100%
  background white
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  margin 0

body
  position relative
  margin 0
  color #000
  font-size fs-normal
  font-family 'lucida grande',verdana,arial,sans-serif
  line-height 1.6
  min-height 100%

// ===============================
// Visualization
// ===============================

.vis-icon
  width 40px
  height 40px
  background-image url(spriteImg)
  background-repeat no-repeat
  background-position 0px -96px
.vis-social
  width 20px
  height 20px
  background-image url(spriteImg)
  background-repeat no-repeat
.vis-facebook
  @extends .vis-social
  background-position -40px -96px
.vis-twitter
  @extends .vis-social
  background-position -40px -116px

// ===============================
// Typography
// ===============================

a
  link()

h1
  font-size fs-large
  font-weight bold
  text-align center

.site-header
  position relative
  width 1000px
  margin 0 auto
  @media (max-width: 500px)
    width 100%
  h1
    a
      display block
      width 180px
      height 76px
      margin 5px auto 5px
      background-image url(spriteImg)
      background-repeat no-repeat
      background-position 0 0
    @media (max-width: 500px)
      display block
      width 100%
      background-color white
      a
        width 90px
        height 38px
        background-size 152px 69px
        margin 5px 0
        margin-left 10px

.top-social
  position absolute
  top 10px
  right 0
  width 120px
  .item
    float left
    margin-right 5px

  @media (max-width: 500px)
    width 200px
    top 10px
    right 0
    text-align right
    .item
      float none
      display inline-block

.page-top
  .site-header
    width 100%
    margin 0

  .top-social
    right 45px
    @media (max-width: 500px)
      right 0


.top-nav
  width 1000px
  margin 0 auto 10px
  ul
    text-align center
    li
      display inline-block
      margin-right 20px
      &:last-child
        margin-right 0
      a
        font-size fs-normal

  @media (max-width: 500px)
    width 100%
    margin-bottom 0
    ul
      li
        a
          display inline-block
          height 30px
          line-height 30px

// ===============================
// Common
// ===============================


article.page
  width 1000px
  text-align center
  box-sizing(border-box)
  border 1px solid #ccc
  border-radius 4px
  font-size fs-normal
  @media (max-width: 500px)
    width 100%

  &::after
    content ''
    display block
    clear both

  hr
    width 100%
    margin 0px

  .inline-block-middle
    display inline-block
    vertical-align middle

  .heading
    width 100%
    height 70px
    padding 10px 5px
    box-sizing(border-box)
    > .icon
      margin 5px
    > h2
      margin 13px 0 7px

  .metadata
    display inline-block
    vertical-align middle
    text-align left
  h2
    font-size 1.8rem
  .social
    display inline-block
    vertical-align middle
    width 100px
    text-align left
    margin-top 10px

  h3
    font-size 2.8rem
  .desc
    font-size 1.2rem
    color black
  .remark
    padding 20px
    text-align left
  p
    text-align left
    text-indent 2em
    margin-bottom 1em

  .side-content
    float left
    width 400px
    box-sizing(border-box)
    padding 40px 20px

    @media (max-width: 500px)
      float none
      width 100%
      padding 20px 0 10px

  .main-content
    float left
    width 550px
    box-sizing(border-box)
    padding 40px 40px 40px 0

    @media (max-width: 500px)
      float none
      width 100%
      padding 10px 20px


.bold
  font-weight bold
.gray
  color #666
.float-left
  float left
.float-right
  float right
.centeredH
  margin auto
  left 0
    right 0 /* Aligns Horizontally */

.about-icon
  width 40px
  height 40px
  background-image url(spriteImg)
  background-repeat no-repeat
  background-position -60px -96px


// ===============================
// Footer
// ===============================
.banner-group
  width 1000px
  text-align center
  margin 0 auto
  padding 10px 0 5px

  @media (max-width: 500px)
    width 100%

  ul
    li
      display inline-block
      padding 0 5px 0 0
      a
        display inline-block
        width 120px
        height 40px
        border 1px solid #ccc
        background-image url(spriteImg)
        background-repeat no-repeat
      img
        width 100%
        vertical-align top

  .copyright
    font-size fs-xsmall
    a
      font-weight normal

  .banner-fbrdn
    background-position -180px 0
  .banner-cityscape
    background-position -180px -40px
  .banner-fbwityufm
    background-position -180px -80px
    @media (max-width: 380px)
      display none



// ===============================
// Top page
// ===============================

.article-list
  margin 0 auto
  padding 0 40px
  .container
    flexbox()
    max-width 1600px

  .article-item
    box-flex(1)
    padding 0 5px 5px

    article
      h2
        font-size fs-large
        font-weight bold
        text-align center
        margin-bottom 5px
        .sublink
          font-size fs-small
          margin-left 6px

  .mobile-touch &

    @media (max-width: 800px)
      display block
      position relative
      overflow hidden
      margin 0
      padding 0
      .container
        display block
        padding-left 10px
        padding-right 10px
        max-width 9999px
        max-width initial
        .article-item
          display inline-block
          padding 0 10px 0 0
          box-sizing(border-box)

.subtext
  margin-top 5px
  font-size fs-small
  text-align center

.page-top
  .top-nav
    width 100%
  .footer
    .banner-group
      padding 0 0 10px
