@font-face{font-family:'thai_sans_literegular';src:url("webfont/thaisanslite_r1-webfont.eot");src:url("webfont/thaisanslite_r1-webfont.eot?#iefix") format('embedded-opentype'),url("webfont/thaisanslite_r1-webfont.woff") format('woff'),url("webfont/thaisanslite_r1-webfont.ttf") format('truetype');font-weight:normal;font-style:normal}
