// ===============================
//   Variables
// ===============================

// theme color
cl-theme = #318ce7

// text color
tc-default = #767772
tc-header = #666
tc-link = #000 //cl-theme

tc-dark-gray = #333
tc-gray = #666


// background color
bgc-default = #f7f7f4
bgc-tap = #ebebeb


// border color
bdc-default = #ccc


// font-size
fs-large = 1.8rem
fs-normal = 1.3rem
fs-small = 1.2rem
fs-xsmall = 1rem

// song cover size
cover_large = 260px
cover_normal = 166px //200px
cover_small = 50px

// City
city_props = (newyork #ff6666 0 0), (tokyo #cc99ff -150px 0), (bangkok #33cccc -300px 0)


// Mixin Vendor prefix
// ----------------------------

// prefix model
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  //-o-{prop} args
  {prop} args

// box model
flexbox()
  display -webkit-box
  display box
  display -ms-flexbox

  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display flex

box-sizing(prop)
  vendor('box-sizing',prop)

// box-align
box-align(prop)
  vendor('box-align',prop)
  vendor('justify-content',prop)

// box-pack = flex-pack
flex-pack(prop)
  vendor('box-pack',prop)
  flex-pack prop
  vendor('align-items',prop)

flex-order(n)
  vendor('box-ordinal-group',n)
  flex-order n

flex-direction(prop)
  vendor('box-direction', prop)
  vandor('flex-direction', prop)
  if prop == 'vertical'
    flex-direction column
  else
    flex-direction row

box-orient(prop)
  vendor('box-orient',prop)

box-flex(n)
  vendor('box-flex',n)
  vendor('flex', n)


border-box(px)
  vendor('border-box',px)

// radius
border-radius(px)
  vendor('border-radius',px)

border-radius-rt(px)
  vendor('border-top-right-radius',px)

border-radius-rb(px)
  vendor('border-bottom-right-radius',px)

border-radius-lt(px)
  vendor('border-top-left-radius',px)

border-radius-lb(px)
  vendor('border-bottom-left-radius',px)

// box shadow
box-shadow(prop)
  vendor('box-shadow',prop)

dropShadow(prop)
  //vendor('filter',drop-shadow(prop))
  -webkit-filter drop-shadow(prop)
  filter drop-shadow(prop)

// column
column-count(n)
  vendor('column-count',n)

column-fill(prop)
  vendor('column-fill',prop)

column-gap(prop)
  vendor('column-gap',prop)

background-clip(prop)
  vendor('background-clip',prop)

// gradient
gradient2(color1, position1, color2, position2)
  background  -webkit-gradient(linear, left top, left bottom, color-stop(position1, color1), color-stop(position2, color2))
  background  -webkit-linear-gradient(top, color1 position1, color2 position2)
  //background  -moz-linear-gradient(top, color1 position1, color2 position2)
  //background  -o-linear-gradient(top, color1 position1, color2 position2)
  //background  -ms-linear-gradient(top, color1 position1, color2 position2)
  background  linear-gradient(top, color1 position1, color2 position2)


gradient3(color1, position1, color2, position2, color3, position3)
  background  -webkit-gradient(linear, left top, left bottom, color-stop(position1, color1), color-stop(position2, color2), color-stop(position3, color3))
  background  -webkit-linear-gradient(top, color1 position1, color2 position2, color3 position3)
  //background  -moz-linear-gradient(top, color1 position1, color2 position2, color3 position3)
  //background  -o-linear-gradient(top, color1 position1, color2 position2, color3 position3)
  //background  -ms-linear-gradient(top, color1 position1, color2 position2, color3 position3)
  background  linear-gradient(top, color1 position1, color2 position2, color3 position3)

gradientHorizon(color1, position1, color2, position2)
  background  -webkit-gradient(linear, left top, right top, color-stop(position1, color1), color-stop(position2, color2))
  background  -webkit-linear-gradient(left, color1 position1, color2 position2)
  background  linear-gradient(left, color1 position1, color2 position2)

gradientRadial(position, shape, color1, from, color2, to)
  background -webkit-gradient(radial, color-stop(from, color1), color-stop(to, color2))
  background -webkit-radial-gradient(position, shape, color1 from, color2 to)
  background radial-gradient(position, shape, color1 from, color2 to)

// transform
transform(prop)
  vendor('transform',prop)


// appearance
appearance(prop)
  vendor('appearance',prop)

// transition
transition(prop)
  vendor('transition',prop)

// filter
filter(prop)
  vendor('filter',prop)


// animation helper
// ----------------------------

animation-name(n)
  vendor('animation-name',n)



// Mixin utility
// ----------------------------


ellipsis()
  display block
  box-flex(1)
  text-overflow ellipsis
  white-space nowrap
  overflow hidden

un-ellipsis()
  display block
  box-flex(1)
  text-overflow normal
  white-space normal
  overflow visible
.ellipsis
  ellipsis()

multiple_ellipsis(h,line)
  w = 100%
  h = h ? h : 100px
  lineH = h / line
  moreW = 3em
  display block
  overflow hidden
  width w
  height h
  margin 0
  padding 0
  line-height lineH

  &::before
    content ""
    float left
    width 5px
    height h


  &::after
    content '\02026'
    float right
    position: relative;
    top -(lineH)
    left 100%
    width moreW
    margin-left -(moreW)
    padding-top (lineH / 4)
    padding-right 5px

    text-align right
    gradientHorizon(rgba(#fff,0),0,rgba(#fff,1),50%)

    .tap &
      //gradientHorizon(rgba(bgc-tap ,0),0,rgba(bgc-tap ,1),50%) !important
      position1 = 0
      color1 = rgba(bgc-tap ,0)
      position2 = 50%
      color2 = rgba(bgc-tap ,1)
      background  -webkit-gradient(linear, left top, right top, color-stop(position1, color1), color-stop(position2, color2)) !important
      background  -webkit-linear-gradient(left, color1 position1, color2 position2) !important
      background  linear-gradient(left, color1 position1, color2 position2) !important



  > *:first-child
    float right
    width 100%
    margin-left -5px


.multiple_ellipsis
  multiple_ellipsis(2em,2)

// btn
gradient-header()
  gradient3(#636363,0,#484848,35%,#292929,100%)

gradient-header-btn()
  gradient2(#878787,0%,#333333,100%)

gradient-header-btn-tap()
  gradient2(#333333,0,#3e3e3e,100%)


// ===============================
// Common
// ===============================

button()
  cursor pointer

link()
  color tc-link
  text-decoration none
  font-weight bold
  &:hover
    text-decoration underline

