extends common/layout

prepend doc
  - bodyClasses = [ 'page-top' ]

append body

  .article-list

    .container

      //- leader
      .article-item#party-leader
        article
          header
            h2 พรรคและแกนนำ
              a.sublink(href='https://twitter.com/Boonmeelab/leader-ratchadamnoen-org/members', target='_blank') List
          div.contenta
            a(class="twitter-timeline", height="500", href="https://twitter.com/Boonmeelab/leader-ratchadamnoen-org", data-widget-id="405712216164278274", data-chrome="noheader")

      //- media
      .article-item#media
        article
          header
            h2 สื่อมวลชน
              a.sublink(href='https://twitter.com/Boonmeelab/media-ratchadamnoen-org/members', target='_blank') List
          div.content
            a(class="twitter-timeline", height="500", href="https://twitter.com/Boonmeelab/media-ratchadamnoen-org", data-widget-id="405714374150471680", data-chrome="noheader")

      //- academics, group, others
      .article-item#public
        article
          header
            h2 ประชาชน
              a.sublink(href='https://twitter.com/Boonmeelab/public-ratchadamnoen-org/members', target='_blank') List
          div.content
            a(class="twitter-timeline", height="500", href="https://twitter.com/Boonmeelab/public-ratchadamnoen-org", data-widget-id="405714550768422912", data-chrome="noheader")

      //- hash #
      .article-item#hashtag
        article
          header
            h2 #Ratchadamnoen
          div.content
            a(class="twitter-timeline", height="500", href="https://twitter.com/search?q=%23Ratchadamnoen", data-widget-id="405706376606801920", data-chrome="noheader")!


append script
  //- Init page
  script.

    // browser detection
    var os = (function() {
     var ua = navigator.userAgent;
      return {
        ua: ua,
        touch: 'ontouchstart' in document.documentElement,
        ios: /ip(hone|od|ad)/i.test(ua),
        iphone: /iphone/i.test(ua),
        ipad: /ipad/i.test(ua),
        android: /android/i.test(ua),
        mobile: /android.+mobile|ip(hone|od|ad)/i.test(ua),
        webkit: /webkit/i.test(ua),
        chrome: /(chrome|crios)/i.test(ua),
        safari: /version.+safari/i.test(ua)
      };
    })();

    $(function() {
      // update when window size changes
      $(window).on('resize', function(e) {
        updateTimeline();
      });

      // init timeline size
      updateTimeline();

      var screen_width = $(window).width();

      // enable swipe on touch mobile device
      if (os.touch && os.mobile && screen_width < 800) {

        $('body').addClass('mobile-touch');

        var entry_width;
        var container_width;
        var swipe_width;
        var swipe_count;
        var max_entry;
        var current_entry = 0;
        var speed = 500;
        var swipeTarget;
        var swipeArea;

        if (screen_width < 500) {
          swipe_count = 1;
        } else {
          swipe_count = 2;
        }
        max_entry = Math.ceil($('.article-list .article-item').length / swipe_count) * swipe_count | 0;
        entry_width = $('.article-list').width()/swipe_count - 30;
        container_width = (entry_width*max_entry);
        swipe_width = entry_width;

        $('.article-list .container').css({
          width: container_width+'px'
        });
        $('.article-item').css({
          width: entry_width+'px'
        });

        var swipeOptions = {
          triggerOnTouchEnd: true,
          swipeStatus: swipeStatus,
          allowPageScroll: 'vertical',
          threshold: 75
        };

        swipeArea = $('body');
        swipeTarget = $('.article-list .container');
        swipeArea.swipe( swipeOptions );

        /**
        * Catch each phase of the swipe.
        * move : we drag the div.
        * cancel : we animate back to where we were
        * end : we animate to the next image
        */
        function swipeStatus(event, phase, direction, distance)
        {
          //If we are moving before swipe, and we are going Lor R in X mode, or U or D in Y mode then drag.
          if( phase=='move' && (direction=='left' || direction=='right') )
          {
            var duration=0;

            if (direction == 'left')
              scrollEntry((swipe_width * current_entry) + distance, duration);

            else if (direction == 'right')
              scrollEntry((swipe_width * current_entry) - distance, duration);

          }

          else if ( phase == 'cancel')
          {
            scrollEntry(swipe_width * current_entry, speed);
          }

          else if ( phase =='end' )
          {
            if (direction == 'right')
              prevEntry()
            else if (direction == 'left')
              nextEntry()
          }
        }

        function prevEntry()
        {
          current_entry = Math.max(current_entry-swipe_count, 0);
          scrollEntry( swipe_width * current_entry, speed);
        }

        function nextEntry()
        {
          current_entry = Math.min(current_entry+swipe_count, max_entry-swipe_count);
          scrollEntry( swipe_width * current_entry, speed);
        }

        /**
        * Manuallt update the position of the imgs on drag
        */
        function scrollEntry(distance, duration)
        {
          swipeTarget.css('-webkit-transition-duration', (duration/1000).toFixed(1) + 's');

          //inverse the number we set in the css
          var value = (distance<0 ? '' : '-') + Math.abs(distance).toString();

          swipeTarget.css('-webkit-transform', 'translate3d('+value +'px,0px,0px)');
        }


      }
    });

    function updateTimeline() {
      var newH;
      var footerH = $('.footer').height();
      if ($(window).width() < 500) {
        newH = $(window).height() - 110 - footerH;
      } else {
        newH = $(window).height() - 160 - footerH;
      }
      $('.twitter-timeline').attr('height', newH);
    }
